<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="top">
    <h1 style="color: white">Create new Person</h1>
</div>
<div class="slider-thumb"></div>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label style="color: white" for="name">Enter first name, middle name, last name</label>
    <input style="color: #e52e71" type="text" th:field="*{name}" id="name">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    <label style="color: white" for="age">Enter age</label>
    <input style="color: #e52e71" type="text" th:field="*{age}" id="age">
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <br>
    <input style="color: #e52e71" type="submit" value="Create">
</form>

</body>
</html>