<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="slider-thumb"></div>
<div class="top">
    <h1 style="color: white" >People Page</h1>
</div>
<form th:method="GET" th:action="@{/people/find-people}">
    <label for="query">Enter person name</label>
    <input type="text" name="query" id="query">
    <input type="submit" value="Find">
</form>
<div th:each="person : ${people}">
    <a style="color: white" th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person}"></a>
</div>
<hr>
<a style="color: white" th:href="@{/people/new}">Create person</a>
<hr>
<a style="color: white" href="/books">Books page</a>
</body>
</html>