<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="top">
    <h1 >About Book</h1>
</div>
<hr>
<div class="all">
<section class="main">
<p th:text="${book.getTitle()}"></p>
<p  th:text="${book.getAuthor()}"></p>
<p  th:text="${book.getYear()}"></p>
<a  th:href="@{/books/{id}/update(id=${book.getId()})}">Update</a>
<hr>

<div th:if="${owner}">
    <span >The book is now at </span> <span th:text="${owner.getName()}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input  type="submit" value="Release the book">
    </form>
</div>

<div th:if="${people}">
    <span  >The book is free now. Who should I assign it to?</span>
    <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
        <label for="peopleList">Appoint a person</label>
        <select th:object="${person}" th:field="*{id}" id="peopleList">
            <option th:each="persons : ${people}" th:value="${persons.getId()}" th:text="${persons}">
            </option>
        </select>
        <input type="submit" value="Appoint">
    </form>
</div>

    <div th:if="${overdue}">
        <h1 style="color: red">The book is overdue! </h1>
        <span th:text="${book.getEndData()}"></span>
    </div>

    <div th:if="${noOverdue}">
        <h1 style="color: red">The book is no overdue </h1>
        <span th:text="${book.getEndData()}"></span>
    </div>

<hr>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <input  type="submit" value="Delete">
</form>
</section>
<footer class="footer">
    <div class="about">
        <p  >About us:</p>
        <p  >We have been working since 2000</p>
        <p  >Working hours: 10.00-18.00</p>
    </div>
</footer>

</div>
</body>
</html>