<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="slider-thumb"></div>
<div class="top">
    <h1 style="color: white">About Book</h1>
</div>
<hr>
<div class="all">
<section class="main">
<p style="color: white" th:text="${book.getTitle()}"></p>
<p style="color: white" th:text="${book.getAuthor()}"></p>
<p style="color: white" th:text="${book.getYear()}"></p>
<a style="color: white" th:href="@{/books/{id}/update(id=${book.getId()})}">Update</a>
<hr>

<div th:if="${owner}">
    <span style="color: white" >The book is now at </span> <span style="color: white" th:text="${owner.getName()}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input style="color: #e52e71" type="submit" value="Release the book">
    </form>
</div>
    <p></p>
<div th:if="${people}">
    <span style="color: white" >The book is free now. Assign this book?</span>
    <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
        <label style="color: white" for="peopleList">Appoint a person</label>
        <select th:object="${person}" th:field="*{id}" id="peopleList">
            <option style="color: #e52e71" th:each="persons : ${people}" th:value="${persons.getId()}" th:text="${persons}">
            </option>
        </select>
        <input style="color: #e52e71" type="submit" value="Appoint">
    </form>
</div>
<p></p>
    <div th:if="${overdue}">
        <h1 style="color: purple">The book is overdue! The book must be returned: </h1>
        <h1 style="color: white" th:text="${book.getEndData()}"></h1>
    </div>

    <div th:if="${noOverdue}">
        <h1 style="color: white">The book is no overdue. The book must be returned </h1>
        <span style="color: white" th:text="${book.getEndData()}"></span>
    </div>
    <p></p>
<hr>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <input  type="submit" value="Delete">
</form>
</section>
<footer class="footer">
    <div class="about">
        <p style="color: white" >About us:</p>
        <p style="color: white" >We have been working since 2000</p>
        <p style="color: white" >Working hours: 10.00-18.00</p>
    </div>
</footer>

</div>
</body>
</html>