<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="slider-thumb"></div>
<div class="top">
    <h1 style="color: white">Books Page</h1>
</div>
<hr>

    <form style="color: white" th:method="GET" th:action="@{/books/search/title}">
        <input type="text" id="query" name="query">
        <input style="color: #e52e71" type="submit" value="find">
    </form>

<hr>

<form style="color: white" th:method="GET" th:action="@{/books/sort_by_year}">
    <input type="submit" value="sort">
</form>

    <div th:each="book : ${books}">
        <a style="color: white"  th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book}"></a>
    </div>

<hr/>
<a style="color: white" href="/books/new">Add new book</a>
<hr>

<a style="color: white" href="/people">People page</a>
<hr>

<div class="footer">
    <div class="about">
        <p style="color: white" >About us:</p>
        <p style="color: white" >We have been working since 2000</p>
        <p style="color: white" >Working hours: 10.00-18.00</p>
    </div>
</div>
</body>
</html>