<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="slider-thumb"></div>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label style="color: white" for="title">Enter title</label>
    <input style="color: #e52e71" type="text" th:field="*{title}" id="title">
    <p  th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br>
    <label style="color: white" for="author">Enter author</label>
    <input style="color: #e52e71" type="text" th:field="*{author}" id="author">
    <p  th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br>
    <label style="color: white" for="year">Enter date of writing</label>
    <input  style="color: #e52e71" type="text" th:field="*{year}" id="year">
    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <br>
    <input style="color: #e52e71" type="submit" value="Create">
</form>
</body>
</html>